/* // */
.about-container,
.bottom-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  font-family: Montserrat;
  line-height: 130%;
  text-align: justify;
  hyphens: auto;

  & h2,
  h3 {
    color: var(--primary_blue);
    margin-bottom: 0.7rem;
  }

  & p {
    margin-bottom: 1rem;
  }
}

.bottom-grid {
  background-color: rgb(179, 253, 67);
}
.about-photo {
  width: 350px;
  object-fit: contain;
}

.about-text {
  width: 50%;
  padding: 1rem;
}

.features {
  margin-right: 2rem;
}
.features,
.technologies {
  width: 40%;
  min-width: 350px;
}

@media screen and (max-width: 992px) {
  .about-text {
    width: 90%;
    min-width: 320px;
  }

  .features,
  .technologies {
    width: 80%;
    min-width: 320px;
  }
}

@media screen and (max-width: 800px) {
  .about-container,
  .bottom-grid {
    flex-direction: column;
  }

  .features,
  .technologies {
    width: 90%;
    padding: 0.5rem;
  }
}
