.diagnosis-container {
  display: flex;
  flex-direction: row;
  height: 85%;
}

.diagnosis-sidebar {
  /* background-color: var(--primary_green); */
  background-color: rgb(169, 169, 169);
  width: 30%;
  max-width: 25rem;
  padding: 2rem;
  overflow-y: scroll;
}

.diagnosis-chat {
  padding: 2rem;
  width: 75%;
  background-color: rgb(243, 241, 241);
  font-family: "Montserrat";
  position: relative;
  overflow: hidden;
}

.user-input {
  display: flex;
  flex-direction: row;
  align-items: center;

  & textarea,
  & input {
    padding: 0.5rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    height: 3rem !important;
  }

  & textarea {
    width: 90% !important;
  }

  & input {
    width: 10%;
    background: linear-gradient(
      90deg,
      var(--primary_blue),
      var(--secondary_green)
    );
    color: white;
    font-weight: 600;
  }
}

.diagnosis-chat-dialogue {
  height: 90%;
  max-height: 50rem;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
}

.message-comp {
  display: flex;
  gap: 0.7rem;
}

.bot-message-comp {
  flex-direction: row;
}

.user-message-comp {
  flex-direction: row-reverse;
}

.message-comp-image {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  align-self: flex-start;

  overflow: hidden;

  & img {
    width: 100%;
  }
}

.message-comp-text {
  width: 90%;
  padding: 0.85rem;
  margin-bottom: 1rem;
  line-height: 150%;
}

.bot-message {
  border-radius: 0rem 0.625rem 0.625rem 0rem;
  background-color: white;
  color: Black;
}

.user-message {
  border-radius: 0.625rem 0rem 0rem 0.625rem;
  background-color: var(--secondary_blue);
  color: White;
}

.response-loader {
  padding: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

/*Sidebar Id for possible when in mobile menu trigger*/

@media screen and (max-width: 600px) {
  .diagnosis-sidebar {
    display: none;
  }

  .diagnosis-chat {
    width: 100%;
    padding: 1rem;
  }

  .user-input {
    & input {
      width: max-content;
      background: var(--primary_green);
    }

    & textarea {
      font-size: 0.9rem;
    }
  }
}
