.footer-container {
  background-color: var(--primary_blue);
  height: 5%;
  max-height: 1rem;
  max-height: 4.6785rem;
  width: 100%;
  font-family: Montserrat;
  font-size: smaller;
  color: var(--white);
  padding: 0.4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-self: start;
  /* position: absolute;
  bottom: 0px; */
}

@media screen and (max-width: 600px) {
  .footer-container {
    height: max-content;
    padding: 1rem;
  }
}
