.main_body {
  height: 75%;
  max-height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main_body-text {
  /* background-color: red; */
  width: 50%;
  padding: 4rem;
  font-family: "Montserrat";
  color: var(--primary_blue);
  display: flex;
  flex-direction: column;
  justify-content: center;

  & h1 {
    font-family: "Unbounded";
    font-weight: 900;
    font-size: 5rem;
    line-height: 90%;
    color: var(--primary_green);
  }

  & .text-intro {
    font-size: 1.2rem;
  }
}

.title-div {
  background: linear-gradient(
    90deg,
    var(--primary_blue),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_body-btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  & input {
    padding: 1.2rem;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transition-delay: 0s;

    &:hover {
      transition: all 0.5s ease-in-out;
      filter: saturate(150%);
      transform: translateY(15%);
    }
  }

  #diagnosis_btn {
    background-color: var(--primary_blue);
  }

  #hospitals_btn {
    background-color: var(--primary_green);
  }
}

.main_body-photo {
  width: 50%;
  overflow: hidden;
  display: flex;
  /* align-content: end; */

  & img {
    transform: scale(100%);
  }
}

/*Media Query*/

@media screen and (max-width: 600px) {
  .main_body {
    height: max-content;
    flex-direction: column;
  }

  .main_body-text {
    width: 100%;
    padding: 1.5rem;

    & h1 {
      font-size: 3rem;
      text-align: center;
      margin-top: 1rem;
    }

    & .text-intro {
      text-align: center;
      font-size: 1.1rem;
    }
  }

  .main_body-btn-container {
    width: 100%;
    flex-direction: column;

    & input {
      width: 100%;
    }
  }

  .main_body-photo {
    width: 100%;

    & img {
      width: 100%;
    }
  }
}
