.marker-container {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
  gap: 0.3rem;
  margin-left: -7px;
}

.marker-photo {
  width: 100%;
}

.marker-name {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 1rem;
}

.address-input-container {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;

  z-index: 3;

  background-color: rgba(255, 255, 255, 0.4);

  & input {
    padding: 0.7rem;
    border: none;
    font-family: "Montserrat";
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-align: center;

    &:hover {
      transform: translateX(-2%);
      transition: all 0.5s ease-in-out;
    }
  }

  & input[type="text"] {
    width: 50%;
    min-width: 250px;
    background-color: rgb(180, 255, 203);

    &:focus {
      background-color: white;
    }
  }

  & input[type="button"] {
    background-color: rgb(3, 3, 206);
    color: white;
    font-weight: 600;
  }
}

.information {
  padding: 1rem;
  font-size: 1.2rem;
}

.hospital_name {
  font-weight: 800;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  #address,
  #hospital {
    width: 100%;

    &:hover {
      transform: translateX(0);
    }
  }
}
