.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Loader Component CSS */

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;

  & .loader {
    background: #0e18a3;
    background: linear-gradient(to right, #0e18a3 0%, #00b4d8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & h1 {
      font-family: "Unbounded";
      font-size: 4rem;
      font-weight: 900;
      margin-bottom: 4rem;
    }

    & .loader-img {
      width: 100%;
      transform: scale(50%);
    }
  }
}
