.main-app {
  width: 1280px;
  max-width: 80%;
  overflow-x: hidden;
  position: relative;
  /* background-color: rgb(185, 184, 184); */
  height: 100vh;
  /* background-color: blue; */
}

.flex-r-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mobile-sidebar {
  padding: 3rem;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background-color: var(--primary_green);
  position: fixed;
}

.mobile-navigation {
  width: 100%;
  z-index: 6;
  font-family: Montserrat;
  font-size: 1.3rem;

  & .mob-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    color: white;

    & li {
      padding: 0.5rem;

      &:hover {
        background-color: rgb(85, 170, 0);
      }
    }
  }
}

/*ANIMATING THE SIDEBAR*/

.ani {
  animation: animate-in 0.5s ease-in-out;
}

.ano {
  animation: animate-out 0.5s ease-in-out;
}

/* MEDIA QUERIES  */
@media screen and (max-width: 833px) {
  .main-app {
    max-width: 95%;
  }
}

/* ANIMATIONS */

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animate-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-200%);
  }
}
