.main-app {
  width: 1280px;
  max-width: 80%;
  overflow-x: hidden;
  /* background-color: rgb(185, 184, 184); */
  height: 100vh;
  /* background-color: blue; */
}

.flex-r-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
