/* Learn from this  */

/* 
:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*::after,
*::before,
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --headline_font: "Unbounded";
  --sub_font: "Montserrat";
  --primary_blue: #0c0f95;
  --secondary_blue: #00b4d8;
  --primary_green: #06ba63;
  --secondary_green: #0fff95;
  --white: white;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100dvh;
}

*::-webkit-scrollbar {
  display: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}
